/** bg color **/
.bg-purple{
    background-color: #b91450;
}
.bg-grey{
    background-color:#808080;
}
/** form **/

#form label{
    display: block;
    margin: 25px 0;
    color: #b91450;
    font-size: 1.5rem;  
}
#form .col-4{
    text-align: center;
}
#form input{
    margin-bottom: 40px;
}
button{
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 3px solid #8a8a8a;
    background-color:#ccc;
    color: #b91450;
    margin-bottom: 20px;
}
/** Section Tour Ticket**/
.table>:not(:first-child){
    border-top: none;
}
#table {
    border-top: 2px solid #8a8a8a;
    border-bottom: 2px solid #8a8a8a;
}
